/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

/* define o tamanho do mapa

    width: 33.3333333333333%;
	display: inline-block;
	float: left;	
	padding: 2% 2%;
	text-align: justify;
	text-align-last: center;
*/

.chamado {
    margin-top: 10%;
    width: 100%;
}

#mapid {
    height: 500px;
    width: 55%;
    display: inline-block;
    float: left;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: justify;
    margin-left: 20px;    
}

.mapa {
    background-color: #e2e2e2;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

    .mapa:after {
        content: '';
        display: block;
        clear: both;
    }

    .mapa h2 {
        position: relative;
    }

        .mapa h2:after { /* add */
            content: '';
            position: absolute;
            width: 80px;
            height: 2px;
            margin-left: -40px;
            left: 50%;
            bottom: -5px;
            background-color: #85af4b;
        }


    .mapa .coe {
        width: 40%;
        display: inline-block;
        float: left;
        padding: 5% 5%;
        text-align: justify;
        text-align-last: center;
    }

    .mapa .formulario {
        width: 40%;
        display: inline-block;
        float: center;
        padding: 5% 5%;
        text-align: justify;
        text-align-last: center;
    }

/* ------------------ Header Section ------------------ */

.hero {
    background-image: url(../NovaPasta/vitoria.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background-attachment: fixed;
    background-position-y: -160px;
}

.hero-container {
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;
}

.hero p {
    margin-top: 0;
    font-size: 26px;
}

.hero h1 {
    margin-top: 120px;
    font-size: 40px;
    color: white;
}

.hero p,
.hero h1 {
    text-align: center;
}

.hero a {
    display: inline-block;
}

.btn-work,
.btn-contact {
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    margin: 15px 10px;
    padding: 10px 25px;
    display: inline-block;
}

.btn-work {
    color: white;
    background-color: #30C29E;
    border: 2px solid #fff;
}

    .btn-work:hover {
        color: #30C29E;
        background-color: white;
        transition: all 0.5s ease;
    }

.btn-contact {
    color: #30C29E;
    background-color: white;
    border: 2px solid #30C29E;
}

    .btn-contact:hover {
        color: white;
        background-color: #30C29E;
        transition: all 0.5s ease;
        border: 2px solid #fff;
    }

/* ------------------ FORMULARIO ------------------ */

.formulario {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}

    .formulario h1 {
        background: #43D1AF;
        padding: 20px 0;
        font-size: 140%;
        font-weight: 300;
        text-align: center;
        color: #fff;
        margin: -16px -16px 16px -16px;
    }

    .formulario input[type="text"],
    .formulario input[type="date"],
    .formulario input[type="datetime"],
    .formulario input[type="email"],
    .formulario input[type="number"],
    .formulario input[type="search"],
    .formulario input[type="time"],
    .formulario input[type="url"],
    .formulario textarea,
    .formulario select {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        background: #fff;
        margin-bottom: 4%;
        border: 1px solid #ccc;
        padding: 3%;
        color: #555;
        font: 95% Arial, Helvetica, sans-serif;
    }

        .formulario input[type="text"]:focus,
        .formulario input[type="date"]:focus,
        .formulario input[type="datetime"]:focus,
        .formulario input[type="email"]:focus,
        .formulario input[type="number"]:focus,
        .formulario input[type="search"]:focus,
        .formulario input[type="time"]:focus,
        .formulario input[type="url"]:focus,
        .formulario textarea:focus,
        .formulario select:focus {
            box-shadow: 0 0 5px #43D1AF;
            padding: 3%;
            border: 1px solid #43D1AF;
        }

    .formulario input[type="submit"],
    .formulario input[type="button"] {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        padding: 3%;
        background: #43D1AF;
        border-bottom: 2px solid #30C29E;
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
        color: #fff;
    }

        .formulario input[type="submit"]:hover,
        .formulario input[type="button"]:hover {
            background: #2EBC99;
        }
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    width: 100%;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}



/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
