/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 45px;
    padding-bottom: 45px;
}


/* define o tamanho do mapa*/
#mapid {
    height: 600px;
    width:60%;
    float:left;
    }

#formulario {
    height: 600px;
    width: 40%;
    float:right;
}

.campo {
    margin: 0;
    padding-bottom: 1em;
    width: 80%;
    border: 1px solid #ccc;
    padding: .7em;
}

.campo-medio {
    display: inline-block;
    width: 80%;
    padding-right: .5em;
}

.grupo {
    width: 80%  ;
    display: inline-block;
    padding: 10px;
}

button {
    padding: .5em 2em;
    border: 0;
    border-bottom: 3px solid;
    font-size: 1.2em;
    cursor: pointer;
    margin: 0;
    margin-top: -3px;
    color: #fff;
    background-color: #0c8cd3;
    border-color: #04324c;
    width: 20%;
    display: block;
    clear: both;
}

    button:active {
        border: 0;
    }

    button[disabled=disabled], button:disabled {
        background-color: gray;
        border-color: darkgray;
    }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}



/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
