/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

/* define o tamanho do mapa

    width: 33.3333333333333%;
	display: inline-block;
	float: left;	
	padding: 2% 2%;
	text-align: justify;
	text-align-last: center;
*/

.chamado {
    margin-top: 10%;
    width: 100%;
}
#mapid {
    height: 500px;
    width: 45%;
    display: inline-block;
    float: left;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: justify;
    
}

#formulario {
    height: 500px;
    width: 45%;
    display: inline-block;
    float: right;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

.campo {
    margin: 0;
    width: 70%;
    border: 1px solid #ccc;
    padding: .7em;
}

.campo-medio {
    display: inline-block;
    width: 80%;
    padding-right: .5em;
}

.grupo {
    width: 80%  ;
    display: inline-block;
    padding: 10px;
}

button {
    padding: .5em 2em;
    border: 0;
    border-bottom: 3px solid;
    font-size: 1.2em;
    cursor: pointer;
    margin: 0;
    margin-top: -3px;
    color: #fff;
    background-color: #0c8cd3;
    border-color: #04324c;
    width: 20%;
    display: block;
    clear: both;
}

    button:active {
        border: 0;
    }

    button[disabled=disabled], button:disabled {
        background-color: gray;
        border-color: darkgray;
    }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    width: 100%;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}



/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
